body {
    background-image: linear-gradient(90deg, transparent 80px, #ED82AD 82px, #ED82AD 83px, transparent 83px),
    linear-gradient(#e9e9e9 1px, transparent 0px),
    linear-gradient(90deg, #e9e9e9 1px, transparent 0px);
    background-size: 100% 100%, 20px 20px, 20px 20px;
    background-position: 0 0, -1px -1px, -1px 1px;
    font-family: monospace;
    color: #8a2be2;
    font-size: 19px;
    line-height: 24px;
    font-style: italic;
}

button {
    font-family: monospace;
    color: #8a2be2;
    font-size: 19px;
    font-style: italic;
}

section {
    text-align: center;
}

h1 {
    text-align: center;
}

h4 {
    font-size: 24px;
    margin: 30px 0;
    padding: 0 15px;
    text-align: center;
}

li {
    margin: 0 0 16px 20px;
}

input[type=text], input[type=password], input[type=email] {
    border: none;
    padding: 0;
    justify-content: end;
    height: 20px;
    font-family: monospace;
    color: #8a2be2;
    font-size: 19px;
    line-height: 24px;
    font-style: italic;
    background-color: #3cbc8d0d;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    border: none;
    outline: none;
    background-color: #c0c0c02e;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}

.container-game {
    display: grid;
    grid-template-columns: 100px 200px 100px 100px;
    width: 300px;
    justify-content: center;
    margin: 50px auto;
    /*padding: 10px;*/
    /*grid-gap: 10px;*/
    border-left-color: #333333;
    border-right-color: #333333;
    border-left-style: solid;
    border-right-style: solid;
}

.container-list-game {
    grid-column: 2/4;
    width: 100%;
}

.item {
    border-bottom-color: #333333;
    border-bottom-style: solid;
}

.item-title {
    grid-column: 2/4;
    width: 100%;
    border-bottom-color: #333333;
    border-bottom-style: solid
}

.item-h4 {
    text-align: center;
    font-size: 26px;
    margin: 27px 0 10px 0;
}

.game-list-title {
    grid-column: 2/4;
    width: 100%;
    border-bottom-color: #333333;
    border-bottom-style: solid
}

.cell {
    font-family: "Georgia", cursive;
    width: 100px;
    height: 100px;
    border: 1px solid #333333;
    cursor: pointer;
    box-shadow: 0 0 0 1px #333333;
    font-size: 70px;
    line-height: 100px;
}

.game-on {
    display: block;
}

.game-off {
    display: none;
}

.btn {
    margin: 10px 15px 0 0;
    color: white;
    background-color: green;
    border: 0;
    /*height: 21px;*/
    align-self: center;
    /*font-size: 16px;*/
}

.btn:hover {
    background-color: greenyellow;
    color: black;
    cursor: pointer;
}

.btn:active {
    opacity: 0.7;
}

.btn-join {
    margin: 0 10px 0 40px;
    color: white;
    background-color: green;
    border: 0;
    align-self: center;
    width: 100px;
}

.btn-join:hover {
    background-color: greenyellow;
    color: black;
    cursor: pointer;
}

.btn-join:active {
    opacity: 0.7;
}

.btn-join:disabled {
    background-color: firebrick;
    pointer-events: none;
}

.users-online {
    padding: 10px 10px;
    text-align: center;
    color: green;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-image: linear-gradient(90deg, transparent 20px, #ED82AD 22px, #ED82AD 23px, transparent 23px),
    linear-gradient(#e9e9e9 1px, transparent 0px),
    linear-gradient(90deg, #e9e9e9 1px, transparent 0px);
    background-size: 100% 100%, 20px 20px, 20px 20px;
    background-position: 0 0, -1px -1px, -1px 1px;
    font-family: monospace;
    color: #8a2be2;
    font-size: 19px;
    line-height: 24px;
    font-style: italic;

    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
}

.auth {
    width: 320px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.form-signup, .form-login {
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: 40px 40px 40px 40px 40px;
    width: 300px;
    justify-content: center;
    margin: 40px auto;
}


.btn-signup, .btn-login {
    width: 100%;
}

.logout {
    display: none;
    margin-bottom: 15px;
}

.btn-top {
    margin-top: 16px;
}

.btn-myStat {
    display: none;
    width: 90px;
    margin-top: 16px;
}

.modal-top, .modal-myStat {
    width: 520px;
}

.wrapper-top {
    display: grid;
    margin: 0 0 0 20px;
    grid-template-columns: 60px 200px 60px 60px 60px;
    grid-template-rows: repeat(10, 40px);
}

.wrapper-myStat {
    display: grid;
    margin: 0 0 0 20px;
    grid-template-columns: 60px 200px 60px 60px 60px;
    grid-template-rows: repeat(2, 40px);
}

.column {
    border: 1px solid silver;
    text-align: center;
    font-size: 22px;
}
