<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/style.css">
  <title>Tic tac toe</title>
</head>
<body>
<div id="game" class="container-game">
  <div class="item">
    <button class="btn login">Login</button>
    <button class="btn signup">Signup</button>
    <button class="btn logout">Logout</button>
    <span class="span-username"></span>
  </div>
  <div class="item-title"><h1>Tic tac toe</h1></div>
  <div class="item"><p id="online" class="users-online"></p></div>

  <div>
    <button type="submit" class="btn btn-top">Top 10</button>
  </div>
  <h4>New game</h4>
  <button id="create-game" class="btn">Create</button>
  <div></div>

  <div class="item"></div>
  <div class="game-list-title">
    <h4 class="item-h4">List games</h4>
  </div>
  <div class="item"></div>

  <div></div>
  <div class="container-list-game">
    <ul id="gameList"></ul>
  </div>
  <div></div>
</div>

<h4 id="player" class="game-off"></h4>

<section id="tic-tac-toe" class="game-off">
  <div class="container">
    <div data-cell-index="0" class="cell"></div>
    <div data-cell-index="1" class="cell"></div>
    <div data-cell-index="2" class="cell"></div>
    <div data-cell-index="3" class="cell"></div>
    <div data-cell-index="4" class="cell"></div>
    <div data-cell-index="5" class="cell"></div>
    <div data-cell-index="6" class="cell"></div>
    <div data-cell-index="7" class="cell"></div>
    <div data-cell-index="8" class="cell"></div>
  </div>
  <h4 class="game-status"></h4>
  <button id="close-game">Quit</button>
</section>


<div id="modal-signup" class="modal modal-signup">
  <div class="modal-content auth">
    <span class="close">&times;</span>
    <form class="form-signup">
      <input type="text" name="username" placeholder="Name" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password1" placeholder="Password" required>
      <input type="password" name="password2" placeholder="Repeat password" required>
      <button type="submit" class="btn btn-signup">Signup</button>
    </form>
  </div>
</div>

<div id="modal-login" class="modal modal-login">
  <div class="modal-content auth">
    <span class="close">&times;</span>
    <form class="form-login">
      <input type="text" name="username" placeholder="Name" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit" class="btn btn-login">Login</button>
    </form>
  </div>
</div>

<div id="modal-top" class="modal">
  <div class="modal-content modal-top">
    <span class="close close-top">&times;</span>
    <div class="wrapper-top">
      <div class="column">Num</div>
      <div class="column">User name</div>
      <div class="column">Win</div>
      <div class="column">Lose</div>
      <div class="column">Draw</div>
    </div>
  </div>
</div>

<script src="/static/modals.js"></script>
<script src="/static/script.js"></script>
</body>
</html>
